node_modules/
npm-debug.log
.DS_Store
*~
public/
webpack/utils/webpack-stats.json

.idea/workspace.xml

.idea/.name

.idea/isomorphic-react-base-app.iml

.idea/jsLibraryMappings.xml

.idea/libraries/isomorphic_react_base_app_node_modules.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/watcherTasks.xml
